<h2>New Referral</h2>
<p>Is this a major or a minor incident?</p>
<button class="btn btn-primary">Minor</button>
<button class="btn btn-danger">Major</button>
<%= form_for :office_direct_referral do |f| %>
<% end %>
<%= form_for :minor_direct_referral do |f| %>
<% end %>
