// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input.submit {
  margin: 30px;
}

div.field {
  margin: 10px;
}

div.login {
  margin-top: 40px;
}

#login_logo_container {
  z-index: -1000;
  height: 103px;
  background-image: image-url("logo.png");
  background-repeat:no-repeat;
  background-position:center;
}

